.setPage{
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-left:10% ;
}

.activity{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;

}

.function{
    background-color:rgb(224, 235, 245);
    border-radius: 10px;
    padding: 20px;
}

.myInfo{
    height: 42px;
    width: 80%;
    display: flex;
    gap: 10px;
}
.myPic{
    width: 38px;
    border-radius: 30%;
}
.dg{
    margin: 0;
}
.myBio{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    margin-top: 15%;
    border: 1px solid rgb(204, 216, 238);
    border-radius: 10px;
    padding: 10px;
    background-color: aliceblue;
}
.breakText{
    margin-top: 15%;
    text-align: center;
}
.breakTime{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-items: center;
    margin-top: 1%;
    border: 1px solid rgb(204, 216, 238);
    border-radius: 10px;
    padding: 12px;
    background-color: aliceblue;
}
.breakTime h5{
    border: 1px solid rgb(161, 161, 243);
    border-radius: 50px;
    padding: 5px;
    
}
.breakTime h5:hover{
    background-color: rgb(164, 207, 243);
    cursor: pointer;
}
.timeDesign{
    margin-top: 5%;
    border: 1px solid rgb(204, 216, 238);
    border-radius: 10px;
    padding: 12px;
    background-color: aliceblue;
    
}
span{
    margin-left: 10%;
}
.btnDesign{
    margin-top: 15%;
    width: 100%;
    border: 2px solid rgb(7, 90, 191);
    border-radius: 8px;
    background: rgb(42, 128, 233);
    color: aliceblue;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    padding: 12px;
}